<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, tenetur quas. 
        Illo, nisi facilis. Earum eum consequatur possimus, aspernatur tenetur ipsa voluptatibus sunt nemo, 
        nihil animi, explicabo perferendis laboriosam blanditiis suscipit est at? Voluptatibus numquam quibusdam ex et ab quas.</p>
    </div>
</div>