<div class="card">
    <div class="card-body">
        <h1>Acerca de nosotros</h1>
        <p>Grupo 9
            Robinson Jonathan Pérez Fuentes 201114056
            Luis Ricardo Hernandez 201114490
        </p>
    </div>
</div>