<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicación de videojuegos</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus optio molestiae dicta perferendis, 
    officiis at cum? Delectus voluptate vero voluptatibus corporis, impedit quas architecto magnam nemo 
    rerum error provident corrupti?</p>
    <a href="https://google.com.gt" class="btn btn-primary btn-lg">google</a> 
</div>