<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicación de videojuegos</h1>
    <p class="lead">Proyecto Final</p>
    <hr class="my-4">
    <p>Aplicación para el laboratorio de sistemas operativos 2</p>
</div>